<header class="site-header">
  <div class="site-header__side-column work-tag-wrap">
    <span class="work-tag">
      <span class="work-tag__inner">Not looking for work</span>
    </span>
  </div>

  <a href="{{ site.url }}" class="site-header__logo">
    {% svg assets/images/logo.svg %}
  </a>

  <nav class="site-header__nav site-header__side-column">
    <ul class="site-header__nav-list">
      <li class="site-header__nav-item">
        <a href="/about" class="site-header__nav-link">About</a>
      </li>
      <li class="site-header__nav-item">
        <a href="/contact" class="site-header__nav-link">Contact</a>
      </li>
    </ul>
  </nav>
</header>