$line-height: 1.8;
$color-text-regular: #4d4d4d;

@mixin title-face {
  font-family: 'TTNorms', sans-serif;
}

@mixin body-face {
  font-family: 'ff-tisa-web-pro', serif;
}

body {
  @include body-face;
  font-size: 15px;
  line-height: $line-height;
  margin: 0;
  color: $color-text-regular;
}

h3 {
  @include title-face;
  font-size: 1rem;
  position: relative;
  color: $color-text-dark;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
}
