.find-me {
  margin-top: 60px;
  text-align: center;
}

.find-me__sites {
  margin: 0;
  padding: 0;
}

.find-me__site {
  display: inline-block;
  padding: 0 10px;
}

.find-me__link {
  color: $color-text-dark;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;

  &:hover {
    background-color: $color-text-dark;
    color: $color-white;
    text-decoration: none;
  }
}
