.intro {
  &__emojis {
    text-align: center;

    @include breakpoint(630px) {
      padding-bottom: 20px;
    }

    img {
      height: 35px;

      @include breakpoint(630px) {
        height: 50px;
      }
    }
  }

  &__text {
    line-height: 2;
    text-align: center;

    @include breakpoint(630px) {
      font-size: 1.125rem;
    }
  }
}
