.projects-list {
  @include breakpoint(700px) {
    margin-bottom: 150px;
  }
}

.section__heading {
  @include breakpoint(1050px) {
    margin-bottom: 30px;
  }

  &::before {
    @include breakpoint(700px) {
      content: "01.";
      color: #adadad;
      margin-right: 20px;
    }
  }
}

.projects {
  @include breakpoint(400px) {
    display: flex;
  }

  @include breakpoint(700px) {
    margin-left: 62px;
  }
}

.project {
  @include title-face;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  width: 100%;

  &:first-of-type {
    @include breakpoint(400px) {
      padding-right: 15px;
    }
  }

  &:last-of-type {
    @include breakpoint(400px) {
      padding-left: 15px;
    }
  }

  &__title {
    order: 2;

    h2 {
      font-size: 1rem;
      line-height: 1;
      margin-top: 0;
      margin-bottom: 0;
      color: #1a1a1a;
      font-weight: normal;

      @include breakpoint(1050px) {
        font-size: 1.125rem;
      }
    }

    .project__description {
      color: #6a6a6a;
      margin-top: 0.3rem;
      font-size: 0.707rem;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      display: inline-block;

      @include breakpoint(1050px) {
        font-size: 0.825rem;
      }
    }
  }

  &__preview-image {
    margin-bottom: 25px;
    padding-bottom: 78%;
    background-size: cover;
    transition: all 0.2s ease-in-out;

    @include breakpoint(400px) {
      width: 100%;
      flex-shrink: 0;
      position: relative;
    }

    @include breakpoint(1050px) {
      margin-bottom: 35px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__goralist {
    background-image: url('/assets/images/project-images/goralist.jpg');
  }

  &__forever {
    background-image: url('/assets/images/project-images/forever.jpeg');
  }
}
