* {
  box-sizing: border-box;
}

.container {
  padding: 80px 30px 0;
  max-width: 30em;

  @include breakpoint(450px) {
    margin-left: auto;
    margin-right: auto;
  }

  @include breakpoint(630px) {
    padding-top: 80px;
  }

  @include breakpoint(1050px) {
    padding-top: 100px;
  }
}

a {
  color: $color-text-dark;

  &:hover {
    background-color: $color-text-dark;
    color: $color-white;
    text-decoration: none;
  }
}
