.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo-wrapper,
  &__logo-image {
    height: 20px;
    width: auto;

    @include breakpoint(630px) {
      height: 25px;
    }
  }
}
