.intro {
  &__text {
    line-height: 2;

    @media screen and (min-width: 450px) {
      width: 60%;
      flex-shrink: 0;
      margin-left: auto;
      margin-right: auto;
    }

    @include breakpoint(630px) {
      font-size: 1.125rem;
      line-height: 2;
      width: 50%;
    }

    @include breakpoint(1050px) {
      font-size: 1.125rem;
    }

    @include breakpoint(1150px) {
      width: 40%;
    }
  }
}
